<div class="login-bg">
  <div class="header">
     <div class="container">
        <div class="row">
           <div class="col-md-12">
              <!-- Logo -->               
               <div class="logo">
                 <h1><a>Centro de Emprendimiento Continental - CIE</a></h1>
              </div>               
           </div>
        </div>
     </div>
</div>

<div class="page-content container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-wrapper">
            <div class="box">
                <div class="logotipo">
                  <img src="assets/images/logo-corporacion-educativa-continental-w.png" alt="UCCI">
                </div>
                <div class="content-wrap">
                  <form (submit)="loginUser($event)"> 
                     <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                          </span>
                          <input type="text" class="form-control" name="idUser" [(ngModel)]="idUser" placeholder="Ingrese Usuario" />
                        </div>
                     </div> 
                     <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon">
                             <i class="glyphicon glyphicon-lock"></i>
                          </span>
                          <input type="password" class="form-control" name="userPwd" [(ngModel)]="userPwd" placeholder="Ingrese Contraseña"/>              
                        </div>              
                     </div>
                     <div class="form-group text-center">
                        <button  type ="submit" class="btn btn-primary signup"> <span class="glyphicon glyphicon-log-in"></span> Ingresar</button>                                   
                     </div>
                  </form>   
              </div>
            </div>            
        </div>
    </div>
  </div>
</div>  
</div>
