<div class="header">
    <div class="container">
       <div class="row">
          <div class="col-md-8">
             <!-- Logo -->
             <div class="logo">
               <h1><a href="#">Centro de Emprendimiento Continental - CIE</a></h1>
             </div>
          </div>          
          <!--<div class="col-md-4">
             <div class="navbar navbar-inverse" role="banner">
                 <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                   <ul class="nav navbar-nav">
                     <li class="dropdown">
                       <a class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> {{username}} <b class="caret"></b></a>
                       <ul class="dropdown-menu animated fadeInUp">                         
                         <li><a (click)="loggedOut()"><i class="glyphicon glyphicon-log-out"></i>Salir</a></li>
                       </ul>
                     </li>
                   </ul>
                 </nav>
             </div>
          </div>-->          
       </div>
    </div>
</div>

 <div class="page-content">
   <div class="row">
   <div class="col-md-2">
     <!--<div><span>{{clockDisplay}}</span></div> -->
     <div class="sidebar content-box" style="display: block;">
             <ul class="nav">
                 <!-- Main menu -->
                 <li class="current"><a [routerLink]="['/dashboard']"><i class="glyphicon glyphicon-home"></i> Inicio</a></li>
                 <li><a [routerLink]="['/dashboard/rpt/business-hours']"><i class="glyphicon glyphicon-flag"></i> Reporte: Participación de Estudiante </a></li>
                 <!--<li class="submenu">
                      <a style="cursor:pointer;">
                         <i class="glyphicon glyphicon-list-alt"></i> Reportes
                         <span class="caret pull-right"></span>
                      </a>
                      Sub menu
                      <ul>
                         <li><a [routerLink]="['/dashboard/rpt/business-hours']"><i class="glyphicon glyphicon-flag"></i> Participación de Estudiante </a></li>                         
                         
                     </ul>
                 </li>-->
             </ul>
          </div>
   </div>
   <div class="col-md-10">
     <div class="row">
        <router-outlet></router-outlet>       
     </div>   
   </div>
 </div>
 </div>
 <footer>
      <div class="container">      
         <div class="text-center">
           Derechos Reservados 2018 <a>CIE-Continental</a>
         </div>         
      </div>
   </footer>
